.inputContainer{
    height: 3.75rem;
    border-radius: 0.31rem;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    padding: 0.37rem;
}

.divIcon{
    display: flex;
    width: 3rem;
    height: auto;
    margin-right: 0.81rem;
    align-items: center;
    justify-content: center;
    border: 0;
}

.input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 16px;
    font-weight: 400;
    font-size: 1rem;
}

.input:-moz-placeholder {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.21rem;
    color: rgba(27, 27, 27, 0.5);
}
.input::-webkit-input-placeholder{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.21rem;
    color: rgba(27, 27, 27, 0.5);
}