@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.AccountContainer {
    display: flex;
    padding: 50px 1.5rem;
    flex-direction: column;
    min-height: 920px;
}

.accountHeader {
    margin-bottom: 40px;
}

.accountHeaderBody {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: auto;
    align-items: center;
}

.accountHeaderLogo {
    font-family: 'Calistoga';
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.92rem;
    color: #1B1B1B;
    margin-bottom: 40px;
}

.accountHeaderText {
    text-align: center;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.36rem;
    color: rgba(27, 27, 27, 0.8);
}

.accountForm div:nth-child(1) {
    margin: 40px 0;
}

.messageFooter {
    align-self: center;
    margin: 48px 0 62px 0;
}

.messageFooter a {
    text-decoration: none;
}

.forgetMessage{
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.81rem;
    color: #1B1B1B;
    margin-bottom: 30px;
}